<!DOCTYPE html>
<html>
  <body>
    <ion-view title="SPOTLIGHT">
      <ion-content class="padding">     
        <div ng-if="signedIn" ng-click="logout()" class="button button-positive">Logout</div>
        <div ng-if="confirmed" class="row">
          <div class="col col-75">
            <div class="spotlight">You are the winner! Take the spotlight by entering today's password: </div>
            <input id="spotlightpass" type="password" ng-model="spotlight.password">
          </div>
          <div class="col">   
            <button ng-click="validate()" class="success tiny radius">Sumbit Password</button>
          </div>
        </div>
        <div ng-if="validated" class="row">
          <div class="col">
            <button ng-click="snap()" class="button button-dark">Take Photo</button>
          </div>
          <div class="col">
            <button ng-click="select()" class="button button-calm">Select Photo</button>
          </div>
        </div>
        <div ng-if="validated" class="row">
          <div class="col col-75">
            <input id="message" type="text" ng-model="message.content">
            <button ng-click="chat(message.content)" class="success tiny radius">Send Message</button>
          </div>
        </div>
        <div ng-if="validated" class="row">
          <div class="col">
            <h3>Spotlight</h3>
            <div id="messages" class="panel callout radius">
              <div ng-repeat="update in updates | orderBy: 'time': true" ng-class="{message : update.content}" class="updates">
                <div ng-if="update.url" class="photo"><img ng-src="{{update.url}}"></div>
                <div class="content">{{update.content}}</div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="!validated" class="row">
          <div class="col">
            <h3>Updates
              <div id="messages" class="panel callout radius">
                <div ng-repeat="update in updates | orderBy: 'time': true" ng-class="{message : update.content}" class="updates">
                  <div ng-if="update.url" class="photo"><img ng-src="{{update.url}}"></div>
                  <div class="content">{{update.content}}</div>
                </div>
              </div>
            </h3>
          </div>
        </div>
      </ion-content>
    </ion-view>
  </body>
</html>