<!DOCTYPE html>
<html>
  <body>
    <ion-view title="SPOTLIGHT">
      <ion-content class="padding">     
        <div ng-if="signedIn" ng-click="logout()" class="button button-positive">Logout</div>
        <h3>Updates
          <div id="messages" class="panel callout radius">
            <div ng-repeat="update in updates | orderBy: 'time': true" ng-class="{message : update.content}" class="updates">
              <div ng-if="update.url" class="photo"><img ng-src="{{update.url}}"></div>
              <div class="content">{{update.content}}</div>
            </div>
          </div>
        </h3>
      </ion-content>
    </ion-view>
  </body>
</html>