/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

*/
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #1c2052 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #00aBB9 !default;
$energized:                       #ffc706 !default;
$assertive:                       #ee2c2c  !default;
$royal:                           #886aea !default;
$dark:                            #1c2052 !default;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import url(http://fonts.googleapis.com/css?family=Voltaire);

.sl-curtains {
  background-image: url('http://24.media.tumblr.com/15f62c952a72461700ba67c014a392d4/tumblr_mvqiyv9aqK1r94argo1_500.png');
  background-size: cover;
  // background-color: $balanced;
  //background-image: url('img/curtains_blue.jpg');
  //background-size: cover;
}

.logo-title {
  margin-top: 25%;
  text-align: center;
  font-family: 'Voltaire', sans-serif;
  font-size: 4em;
  color: $positive;
}

.logo-area {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 7em;
  width: 7em;
  border-radius: 100%;
  border: 5px solid $energized;
  margin: 0 auto;
  margin-top: -13%;
}

.logo-background-1 {
  // background-image: url('/img/curtains.jpg');
  // background-size: cover;
}

.slogan {
  text-align: center;
  font-family: 'Voltaire', sans-serif;
  font-size: 30px;
  color: white;
  margin-top: 9%;
}


.login-button {
  position: relative;
  margin: 0 auto;
  margin-top: 10%;
  z-index: $z-index-badge;
  height: 4.6em;
  width: 4.6em;
  background-color: white;
  text-align: center;
  line-height: 60px;
  border-radius: 100%;
  background-color: $positive;
  color:$energized;
  font-family: 'Voltaire', sans-serif;
  font-size: 1em;
}

.loginactive {
  //background-image: url('img/curtains.jpg');
  //background-size: cover;
  background-color: $energized;
  z-index: $z-index-item;
  color: $positive;
}

// .account-buttons {
//   position: relative;
// }
.account-buttons {
  position: relative;
  z-index: $z-index-menu;
  opacity: .9;
}

.rotateit {
  position: relative;
  z-index: $z-index-item;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: -30px;
}

.rotateit p {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.account-buttons-background-login {
  position: relative;
  margin: 0 auto;
  margin-top: -9em;
  z-index: $z-index-menu;
  height: 5.2em;
  width: 5.2em;
  background-color: $energized;
  text-align: center;
  line-height: 55px;
  border-radius: 100%;
}

.join-button {
  position: relative;
  margin: 0 auto;
  margin-top: -.5em;
  z-index: $z-index-badge;
  height: 4.6em;
  width: 4.6em;
  background-color: white;
  text-align: center;
  line-height: 60px;
  border-radius: 100%;
  background-color: $positive;
  color: $energized;
  font-family: 'Voltaire', sans-serif;
  font-size: 1em;
}

.joinactive {
  //background-image: url('img/curtains.jpg');
  //background-size: cover;
  background-color: $energized;
  z-index: $z-index-item;
  color: $positive;
}


.account-buttons-background-join {
  position: relative;
  margin: 0 auto;
  margin-top: -1.1em;
  z-index: $z-index-menu;
  height: 5.2em;
  width: 5.2em;
  background-color: $energized;
  text-align: center;
  line-height: 55px;
  border-radius: 100%;
}


.login {
}

.sl-input-field-username-login{
  width: 250px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 13%;
  text-align: center;
  opacity: .9;
}

.sl-input-field-password-login{
  top: 100px;
  width: 250px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 2%;
  text-align: center;
  opacity: .9;
}

.signin-button {
  position: relative;
  margin: 0 auto;
  margin-top: 8%;
  margin-bottom: 13%;
  height: 3.2em;
  width: 150px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  line-height: 3.2em;
  //background-image: url('img/curtains_yellow.jpg');
  //background-size: cover;
  background-color: $energized;
  font-family: 'Voltaire', sans-serif;
  color: $positive;
  z-index: $z-index-click-block;
  opacity: .9;
}

.join {
  margin: 0 auto;
  margin-top: 13%;
}

.logo2 {
  height: 40px;
  font-family: 'Voltaire', sans-serif;
  color: $positive;
  text-align: center;
  font-size: 30px;
}

.sl-input-field-join {
  margin: 0 auto;
  width: 250px;
  margin-bottom: 5px;
  border-radius: 15px;
  text-align: center;
  opacity: .9;
}

.register-button {
  position: relative;
  margin: 0 auto;
  margin-top: 5%;
  height: 3.2em;
  width: 150px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  line-height: 3.2em;
  //background-image: url('img/curtains_yellow.jpg');
  //background-size: cover;
  background-color: $energized;
  font-family: 'Voltaire', sans-serif;
  color: $positive;
  z-index: $z-index-tabs;
  opacity: .9;
}

//spotlight priviliges

.winning-card {
  margin-top: 20px;
}

#message {
  height: 100px;
}


//spotlight page

.sl-text {
  font-family: 'Voltaire', sans-serif;
}


.button-spotlight-pass {
  //background-image: url('img/curtains_yellow.jpg');
  //background-size: cover;
  text-align: center;
  height: 30px;
  border: 1px solid $positive;
  color: $positive;
  line-height: 30px;
  border-radius: 15px;
  font-family: 'Voltaire', sans-serif;
}

.image-border {
  border: 2px solid $energized;
}


.spotlight-stream-header {
  //background-image: url('img/curtains_yellow.jpg');
  //background-size: cover;
  background-color: $energized;
  color: $positive;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Voltaire', sans-serif;
  border-radius: 5px;
  margin-bottom: -5px;
  opacity: .8;
}

.spotlight-stream {
  //background-image: url('/img/curtains_yellow_horizontal_narrow.jpg');
  //background-size: cover;
  //background-color: white;
  opacity: .95;
}

.take-photo {
  background-color: $positive;
  color: $energized;
  text-align: center;
  height: 40px;
  line-height: 2.3em;
  font-family: 'Voltaire', sans-serif;
  font-size: 1.2em;
  margin: 0;
  margin-top: 7px;
  //border-radius: 15px;
//  border: 1px solid $energized;
  border-radius: 10px;
}

.select-photo {
  background-color: $positive;
  color: $energized;
  text-align: center;
  height: 40px;
  line-height: 2.3em;
  font-family: 'Voltaire', sans-serif;
  font-size: 1.2em;
  margin-left: 2px;
  margin-top: 7px;
  //border-radius: 15px;
  //border: 1px solid $energized;
  border-radius: 10px;
}

.advice {
  //background-image: url('img/curtains_blue.jpg');
  //background-size: cover;
  background-color: $positive;
  color: $energized;
  text-align: center;
  height: 40px;
  line-height: 2.3em;
  font-family: 'Voltaire', sans-serif;
  font-size: 1.2em;
  margin-left: 2px;
  margin-top: 7px;
  //border-radius: 15px;
  //border: 1px solid $energized;
  border-radius: 10px;
}

.send {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  background-color: $positive;
  text-align: center;
  font-family: 'Voltaire', sans-serif;
  font-size: 15px;
  line-height: 2.6em;
  margin-top: 5px;
  margin-bottom: 10px;
  color: $energized;
  border-radius: 100%;
  border: 1px solid $energized;
}

textarea {
  margin-top: 5px;
  padding: 20px;
  color: $positive;
  font-family: 'Voltaire', sans-serif;
  border-radius: 15px;
  //border: 1px solid $positive;
}


.card {
  margin-top: -10px;
  //border-radius: 5px;
  font-family: Calibri;
  font-size: 1em;
  border: 1px solid white;
}

.item {
  border: none
}

.photo {
  margin-bottom: -30px;
  background-color: $energized;
}

.item-image {
  padding: 15px;
  border-radius: 10px;
}

.content {
  margin-bottom: -30px;
  background-color: $energized;
}

.footer-item {
  background-color: $positive;
  color: white;
  height: 40px;
}
.date {
  float: right;
  margin-top: -20px;
  font-size: .7em;
}

.boost-button {
  margin-top: -5px;
  background-color: $energized;
  width: 50px;
  text-align: center;
  height: 20px;
  color: $positive;
  border-radius: 5px;
  font-size: .8em;
  font-family: 'Voltaire', sans
}

.boosted {
  background-color: $positive;
  color: $energized;
}

.total-likes {
  margin-top: -22px;
  margin-left: 90px;
  border-radius: 100%;
  border: 1px solid $energized;
  text-align: center;
  width: 40px;
}
