html
  body
    ion-view(title='{{note.title}}')
        ion-content(has-header='true', padding='true')
            button.button.button-dark(ng-click='snap()') Take Photo
            button.button.button-calm(ng-click='select()') Select Photo
            .list.card
                
                h6 {{note.updated_at | date: 'medium'}}
            
                .item.item-body
                    p {{note.body}}
                    
                .item.item-image(ng-repeat='url in note.urls')
                    img(ng-src='{{url}}')
                    
                    

       