html
  body
    ion-view.sl-curtains
      ion-content.padding
        .row(ng-if="confirmed")
          .winning-card
            .card
              .item.item-divider.sl-text Congrats! You've won today's lottery!
              .item
                input#spotlightpass(type='password', placeholder="Please enter the password here.", ng-model='spotlight.password')    
              .item.item-divider
                .button-spotlight-pass(ng-click='validate()') Sumbit Password
        
        .row(ng-if="validated")
          .col-33
            .take-photo(ng-src="img/curtains_blue.jpg", ng-click='snap()') +Photo
          .col-33
            .select-photo(ng-click='select()') My Photos
          .col-33
            .advice(ng-click='advice = true') ?

        .row(ng-if="validated")
          .col
            textarea#message(ng-model='message.content')
          
        .row(ng-if="validated")
          .col
            .send(ng-click='chat(message.content)') Send


        .row
          .col
            .spotlight-stream-header SPOTLIGHT STREAM
            .spotlight-stream
              #messages.panel.callout.radius
                .updates(ng-repeat="update in updates | orderBy: 'time': true", ng-class="{text : update.content}")
                  .photo(ng-if="update.url")
                    .list.card
                      .item.item-image
                        img(ng-src="{{update.url}}")
                      .item.footer-item
                        .col-33
                        .col-33
                        .col-33.date {{update.time | date : "h:mma"}}
                  .content(ng-if="update.content")
                    .list.card
                      .item.item-body
                        p {{update.content}}
                      .item.footer-item
                        .col-33
                        .col-33
                        .col-33.date {{update.time | date : "h:mma"}}

                                              
                  
            
