html
  body
    ion-view(title='SPOTLIGHT')
      ion-content.padding      
        .button.button-positive(ng-if="signedIn", ng-click="logout()") Logout
        h3 Updates
          #messages.panel.callout.radius
            .updates(ng-repeat="update in updates | orderBy: 'time': true", ng-class="{message : update.content}")
                .photo(ng-if="update.url")
                  img(ng-src="{{update.url}}")
                .content {{update.content}}

                
            
