html
  body
    ion-view.sl-curtains(title='Account')
      ion-content.paddings
        .logo-title(ng-show="login", ng-click="showLogo()") SPOTLIGHT
        .login(ng-show="login")
            input.sl-input-field-username-login(type='text', placeholder="Your name please", ng-model='user.username')
            input.sl-input-field-password-login(type='password', placeholder="Open Sesame...password", ng-model='user.password')
            .signin-button(ng-click='signin(user)') Let me in, let me in!
        .join(ng-show="join")
            .logo2 A new story every day.
            input.sl-input-field-join(type='text', placeholder="a rose by any other Name", ng-model='user.username')
            input.sl-input-field-join(type='email', placeholder="may have the same Email", ng-model='user.email')
            input.sl-input-field-join(type='text', placeholder="and Phone Number (optional)", ng-model='user.phone')
            input.sl-input-field-join(type='password', placeholder="so protect it with a Password", ng-model='user.password')
            .register-button(ng-click='register(user)') Join the story!
        //-.logo-area
          img.logo(ng-show="logo")
        //-.slogan(ng-show="logo") a new story every day 
        .account-buttons.rotateit(ng-show="account")
          .login-button(ng-click="showLogin()", ng-class="{loginactive:login}") 
            p Login
          .join-button(ng-click="showJoin()", ng-class="{joinactive: join}")
            p Join
          .account-buttons-background-login
          .account-buttons-background-join
